<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Angular Projects</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="navbar-link" routerLink="/articles" routerLinkActive="active">&nbsp; Articles &nbsp;</a>
      </li>
         |
      <li class="nav-item">
        <a class="navbar-link" routerLink="/contact" routerLinkActive="active">&nbsp; Contact &nbsp;</a>
      </li>
    </ul>
  </div>
</nav>
